@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: all 0.3s ease 0s;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafaf8;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.dialog-footer {
  @apply flex justify-center shadow-[0px_-2px_10px_0px] shadow-gray-300;
}

.dialog-shadow {
  @apply fixed z-[96] h-[100%] w-[100%] bg-black/90;
}

.order-container {
  @apply h-[100%] min-h-[100px] overflow-auto p-5;
}

.order-content {
  @apply border-b border-gray-100 p-[10px];
}

.order-item {
  @apply grid grid-cols-[50px_100px_100px] items-center justify-between p-[10px_5px];
}

.order-quantitys {
  @apply m-[5px] flex h-[32px] min-w-[100px] items-center rounded-[8px] p-[10px] shadow-[0px_6px_10px_0px_rgba(128,98,96,16%)];
}

.order-quantity-btn {
  @apply mx-[10px] w-[23px] cursor-pointer text-center font-montserrat text-[20px] font-bold leading-[23px] text-[#ff0038] hover:bg-red-100;
}

.tag-menu {
  @apply my-7 flex justify-evenly;
}

.tag-card {
  @apply mx-[10px] flex min-w-fit cursor-pointer items-center rounded-[20px] p-[10px_20px] shadow-[0px_3px_5px_0px_rgba(0,0,0,9%)] transition-all duration-300 hover:bg-[#e8e8e8] hover:shadow-none;
}

.layout-page {
  @apply mx-auto flex h-[calc(100vh-75px)] max-w-[1200px] px-[20px];
}

.wrapper {
  @apply flex flex-1 justify-around;
}

.li-card {
  @apply mb-[15px] flex justify-between text-[#9faab7];
}

.form-styled {
  @apply z-[2] flex w-full max-w-[400px] flex-col items-center justify-center;
}

.form-content {
  @apply w-full rounded-[15px] bg-white shadow-[0px_6px_10px_0px_rgba(128,98,96,16%)];
}

.order-status-container {
  @apply flex h-[auto] min-h-[calc(100vh-75px)] w-[100%] items-start justify-center bg-cover bg-fixed bg-center p-[10px] before:fixed before:top-0 before:left-0 before:h-[100%] before:w-[100%] before:bg-gradient-to-tl before:from-[#f83600] before:to-[#ff9259] before:mix-blend-color before:content-[''] after:fixed after:top-0 after:left-0 after:h-[100%] after:w-[100%] after:bg-[#000000bd] after:content-[''] ss:items-center;
}

.order-status-wrapper {
  @apply z-[10] min-h-[100vh] w-[100%] ss:w-[70%];
}

.order-status-history {
  @apply w-[100%] rounded-[20px] bg-[#0000003d] p-[0px] text-white backdrop-blur-[20px] ss:p-[30px];
}

.h1-principal {
  font-size: clamp(2rem, 4vw, 4rem);
  margin: 0px 20px;
  text-align: center;
  z-index: 2;
}

.p-principal {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 3rem);
  width: 100%;
  margin: 50px 20px 0px;
  border-top: 1px solid rgb(255, 131, 82);
  border-bottom: 1px solid rgb(255, 131, 82);
  padding: 20px;
  z-index: 2;
}
